---
import Layout from '../layouts/Layout.astro';
import Desktop from './Desktop';
import cubelogo from '../videos/cubelogo.webm';
import lfpattern from '../images/lfpattern.png'
import Loader from '../components/Loader.astro'
import './tilt.css'
import './crt.css' 
---

<Layout title="NIGHTMODE">
	<main class="page">
		<Loader/>
		<div class="crt"></div>
		<div id="lfpattern" class="absolute"></div>
		<video id='background-video' autoplay loop muted>
			<source src={cubelogo} type='video/webm' />
		</video>
		<section class="screen">
			<div class="scanning"></div>
			<Desktop client:only/>
		</section>
	</main>
</Layout>

<style>
	@keyframes spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.page {
		margin: 0;
		padding: 0;
		width: 100vw;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.screen {
		height:100vh;
		width: 100vw;
		background: transparent;
		/* background-image: url(../images/nightmode.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
  	background-position: center; */
		transform: perspective(100vw)rotateX(6deg)rotateY(0)rotateZ(0)perspective(100vw);
	}

	#background-video {
		height: 50%;
		width: 50%;
		float: left;
		padding: none;
		margin: auto auto;
		position: fixed;
		--tw-blur: blur(0.7px);
 	 	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
	}

	#lfpattern {
		width: 100vw;
		height: 20vh;
		margin-top: 15vh;
		background: url('../images/lfpattern.png') repeat-x;
		opacity: 0.05;
	}

	.scanning {
		content: '';
		position: absolute;
		width: 100vw;
		height: 50vh;
		bottom: 0;
		background-image: linear-gradient(to bottom,
		rgba(170, 184, 190, 0),
		rgba(170, 184, 190, .2));
		z-index: 9999;
		pointer-events: none;
	}
</style>