---
import Layout from '../layouts/Layout.astro';
import Window from '../components/Window.tsx'
import DraggableComponent from '../components/DraggableComponent.tsx'
---

<Layout title="NIGHTMODE">
	<main class="page">
		<section class="screen">
			<!-- <Window client:only/> -->
			<DraggableComponent client:only/>
		</section>
	</main>
</Layout>

<style>
	.page {
		margin: 0;
		padding: 0;
		width: 100vw;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.screen {
		height:100vh;
		width: 100vw;
		background-image: url(../images/nightmode.jpg);
		background-repeat: no-repeat;
		background-attachment: fixed;
  	background-position: center;
	}
</style>
